@font-face {
  font-family: poly;
  src: url(./assets/font/PolySans-Neutral-895d354bba345c02358d.ttf);
}

@font-face {
  font-family: sans;
  src: url(./assets/font/sansmeat-compressed-bold.0b224647\ \(1\).ttf);
}

@font-face {
  font-family: gendy;
  src: url(./assets/font/gendy.ttf);
}

@font-face {
  font-family: mauline;
  src: url(./assets/font/Mauline.ttf);
}

@font-face {
  font-family: konexy;
  src: url(./assets/Konexy-Font.ttf);
}

@font-face {
  font-family: Rom;
  src: url(./assets/font/RammettoOne-Regular.ttf);
}
  @import
  url('https://fonts.googleapis.com/css2?family=Rammetto+One&family=Syne:wght@400..800&display=swap');
html, body {

  overflow-x: hidden; /* prevent horizontal scrollbar */
}



@import "tailwindcss"
